* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    float: left;
    margin: 0 0 0 100px;
}

ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
    padding-top: 40px;
    padding-left: 100px;
}

ul li a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: cadetblue;
}

header {
    background-color: chocolate;
    height: 100px;
}